@tailwind base;
@tailwind components;
@tailwind utilities;



h1 {
	color: #1c1b1f;
	font-weight: 500;
}

h2 {
	color: #49454f;
	font-weight: 400;
}

body {
	background-color: #e1e8f1;
	font-family: 'Roboto', sans-serif;
}
